*{
margin:0;
padding:0;
box-sizing:border-box;
}

#primary_navigation{
  background-image:linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.8));
  height:4.6em;
  z-index:20;
}

#primary_navigation ul{
font-size:1.2em;
font-weight:600;
padding:.9em 0 1em 1em;
list-style-type:none;
}

#primary_navigation ul li{
display:inline-block;
padding:.5em 1em;
}

#primary_navigation ul li a{
font-style:none;
color:#fff;
text-decoration:none;
}

#primary_navigation ul li a.active{
color: orange;
}

#page_container{
margin:.5em 2em;
}
